@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
  word-wrap: break-word;
}

ul {
	list-style: none;
}
