.home-container {
  margin-top: 8rem;
  .home-container_inner {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    margin: 5rem auto;
    background-color: #fff;
    padding: 3rem;
    width: 50%;
  }
}
